@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --color:#09348C;
    --color1:#172D59;
    --color2: #6F9BF2;
    --color3: #A8C5FF;
    --color4: #DBE7FF;
    --color5: #60a757;
    --white: #fff;
    --black:rgb(0, 0, 0);
}

body{
    font-family: Lato;
    background-color: var(--color4);
    color: var(--color2);
    height: 100vh;
}
.menu{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav-links{
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover{
    color: var(--color2);
    transform: .4s;
    text-decoration: underline;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .5rem;
    background-color: var(--color3);
    min-height: 50px;
}

#tele{
    color: var(--white);
}

.box-bnt-login{
    display: flex;
    gap: 2rem;
}

.bnt-login{
    background-color: var(--white);
    border: 1px solid var(--color2);
    color: var(--color3);
}

button{
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

main{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.frist{
    display: flex;
    background-color: var(--color1);
    color: var(--white);
}
    

.menu-planos{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.meus-planos div{
    width: 33%;
}

.title{
    color: var(--white);
    display: flex;
    align-items: center;
}

.second{
    display: flex;
    background-color: var(--color1);
    color: var(--white);
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.imagemhospital{
    border-radius: 4rem;
}

.third{
    display: flex;
    background-color: var(--color1);
    flex-direction: column;
    align-items: center;
    color: var(--white);
    gap: 1rem;
}

.fourth{
    display: flex;
    background-color: var(--color1);
    color: var(--white);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

section{
    padding: 4rem;
}

#Planos1 h2{
    display: flex;
    text-align: end;
    gap: 3rem;
}

#Planos2 h2{
    display: flex;
    text-align: end;
    gap: 3rem;
}
#Planos3 h2{
    display: flex;
    text-align: end;
    gap: 3rem;
    justify-content: space-around;
}


